#board {
    position: absolute;
    top : 5%;
    left: 1%;
    width : 98%;
    height: 26%;
    text-align: center;
    border-style: double;
    border-width: 0.5em;
    border-color: #000000;
    background-color: #fffd0e;
}
#board tr {
    position: relative;
    width: 100%;
    border-style: none;
    border-width: 0px;
}
#board td {
    position: relative;
    width: 33%;
    border-style: solid;
    border-width: 0.03em;
}
.hText {
    font-family: boardHeading;
    font-size: 4em;
}
.boardPoints {
    font-family: digital;
    font-size: 9em;
}
#controllers {
    position: absolute;
    top: 45%;
    left: 15%;
    width: 70%;
    text-align: center;
    border-spacing: 0px;
    cursor: pointer;
    user-select: none;
}
.points{
    border-style: none;
    border-bottom-style: solid;
    border-width: 6px;
    border-color: black;
    font-family: points;
    font-size: 5em;
    width: 50%;
    background-color: #0838ff;
    color: #ffffff;
}
.btns {
    font-family: button1;
    font-size: 5em;
    background-color: #63ff8f;
}
.btns td{
    border-style: none;
    border-bottom-style: solid;
    border-width: 6px; 
}
#ext {
    font-family: boardHeading;
    background-color: #FDD835;
}
#ctHead {
    font-family: boardHeading;
    font-size: 5em;
    background-color: #63ff8f;
}
#wS, #wNS {
    font-family: button1;
    font-size: 5em;
    background-color: #f8e85b;
    width: 50%;
    text-align: center;
}
#wktType {
    display: none;
    
}
.points:hover {
    background-color: #3a03d0;
}
.extras:hover {
    background-color: #02ba71;
}
#wktType td:hover {
    background-color: #fed72f;
}
body {
    background-color: #dddddd;
}
@font-face {
    font-family: boardHeading;
    src: url("High School USA Sans.ttf");
}
@font-face {
    font-family: digital;
    src: url("digital-7 (italic).ttf");
}
@font-face {
    font-family: points;
    src: url("Jersey M54.ttf");
}
@font-face {
    font-family: button1;
    src: url("Titillium-BoldUpright.otf");
}